/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ◎ここから */

/* header */

.header {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__title {
    font-size: 25px;
}

.header__nav ul {
    display: flex;
}

.header__nav ul li:not(:first-child) {
    margin-left: 50px;
}

.header__nav ul li a {
    text-decoration: none;
    color: black;
}

.header__nav ul li a:hover {
    opacity: 0.7;
}

/* first-v */

.first-v {
    position: relative;
    background-color: pink;
    height: calc(100vh - 90px);
}

.first-v p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

/* box */

.box {
    height: 100vh;
    text-align: center;
}

#sec1 {
    background-color: burlywood;
}

#sec2 {
    background-color: chocolate;
}

#sec3 {
    background-color: crimson;
}

/* footer */

footer {
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 30px 0;
}